/* подключение шрифта */
@font-face {
    font-family: 'pressStart2P';
    src: url(../fonts/PressStart2P-Regular.ttf);
}
/* общие стили */
*{
    padding: 0;
    margin: 0;
    font-family: pressStart2P;
}
html, body{
    background-color: #00ABE1;
    color: white;
    width: 100vw;
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1000px);
    row-gap: 60px;
    height: max-content;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

/* шапка */
header{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    column-gap: 182px;
    align-content: center;
    align-items: center;
    height: 80px;
}
.logo{
    width: 240px;
}
.name{
    font-size: 20px;
}
.headContacts{
    display: grid;
    grid-template-rows: repeat(1,max-content);
    font-size: 10px;
    row-gap: 3px;
    height: 33px;
    align-items: center;
}
/* ссылки в шапке */
.linksH{
    display: grid;
    align-items: center;
    align-content: center;
    column-gap: 20px;
}
a{
    text-decoration: none;
    color: #161F6D;
}
a:hover{
    text-decoration: underline;
    color: white;
}

/* основная секция */
section{
    display: grid;
    row-gap: 60px;
}
.logoDiv{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.logoDiv p{
    text-align: right;
}
.carImg{
    width: 400px;
}

/* слайдер */
.slideDiv{
    height: 250px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    column-gap: 40px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.slideDiv p{
    color: #161F6D;
    width: 500px;
}
.hSpan{
    font-size: 20px;
}
.whiteSpan{
    color: white;
}
.blueSpan{
    color: #161F6D;
}
.slideDiv img{
    width: 150px;
}
.slideDiv a{
    color: white;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    background-color: white;
}

/* акции */
.stocksMain{
    display: grid;
    row-gap: 20px;
}
.stocks{
    display: grid;
    grid-template-columns: repeat(3, 310px);
    column-gap: 35px;
}
.stocksCard{
    display: grid;
    row-gap: 10px;
    height: 150px;
    font-size: 14px;
    padding: 7px;
    background-color:rgba(255, 255, 255, 0.24);
}
.stocksCard:hover{
    background-color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}
.h2Span{
    font-size: 17px;
}

/* контактная информация */
.contactsInfo{
    display: grid;
    row-gap: 10px;
    justify-content: center;
    text-align: center;
}

/* отзывы */
.reviewsMain{
    display: grid;
    row-gap: 20px;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(2,475px);
    column-gap: 50px;
}
.reviewsCard{
    display: grid;
    row-gap: 10px;
    font-size: 14px;
    color: #161F6D;
    background-color:rgba(255, 255, 255, 0.24);
    padding: 10px;
}
.reviewsCard:hover{
    cursor:default;
}
.dateSpan{
    text-align: right;
}
/* форма */
.formReview{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 20px;
    height: 60px;
}
.formReview textarea{
    padding: 10px;
    resize: none;
    color: #161F6D;
    width: 810px;
    border: none;
    background-color: rgba(255, 255, 255, 0.24);
}
.formReview input{
    color: #161F6D;
    width: 170px;
    border: none;
    background-color: rgba(255, 255, 255, 0.24);
}
.formReview input:hover{
    background-color: rgba(255, 255, 255, 0.50);
}

/* подвал */
footer{
    background-color: #161F6D;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1000px);
    justify-content: center;
    padding: 30px;
}
.foot{
    display: grid;
    grid-template-columns: repeat(2,max-content);
    column-gap: 332px;
    font-size: 13px;
}
.foterInfo{
    display: grid;
    row-gap: 10px;
}
.h3Span{
    font-size: 15px;
}
.social{
    display: grid;
    row-gap: 10px;
    justify-items: center;
    height: fit-content;
}
.socLinks{
    display: grid;
    grid-template-columns: repeat(3,30px);
    column-gap: 10px;
}
.social img{
    height: 30px;
}


/* стили остальных страниц */
.headerP{
    column-gap: 174px;
}

/* карточки услуг */
.servicesCard{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 30px;
    padding: 20px;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.24);
}
.servicesCard h4{
    color: #161F6D;
}
.servicesCardContent{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 40px;
}
.servicesCardContent img{
    width: 400px;
    height: 250px;
}
.servicesCardInfo{
    width: 520px;
    display: grid;
    justify-items: right;
}
.servicesCardInfo p{
    height: 150px;
}
.priceDiv{
    display: flex;
    align-items: start;
}
.priceSpan{
    height: 20px;
    color: #161F6D;
    font-size: 17px;
    font-weight: 700;
    width: fit-content;
}
.remSpan{
    font-size: 11px;
    font-weight: 100;
    color: white;
}
.utochSpan{
    font-size: 8px;
    margin-bottom: 19px;
}
.servicesBtn{
    height: 50px;
    border: none;
    background-color:rgba(255, 255, 255, 0.24);
    color: #161F6D;
    text-decoration: underline;
    width: 520px;
}
.servicesBtn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.50);
}


/* модальное окно */
.modal-content{
    background-color:#3dbfe8;
}
.btn-primary{
    background-color: #161F6D;
    border-color: #161F6D;
}
#phoneNumberInp{
    color: #161F6D;
    border: none;
    background-color: rgba(255, 255, 255, 0.24);
}

/* модальное окно записи */
.formZapis div{
    display: grid;
    grid-template-columns: repeat(1,max-content);
    row-gap: 5px;
}
.formZapis{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    row-gap: 20px;
}
.formZapis input{
    color: #161F6D;
    border: none;
    background-color: rgba(255, 255, 255, 0.24);
    width: 466px;
    padding-left: 5px;
    height: 30px;
}
#nullSpan{
    color: red;
}


/* адаптив */
@media screen and (max-width: 500px){
    .wrapper{
        grid-template-columns: repeat(1, 350px);
        row-gap: 20px;
    }

    /* шапка */
    header{
        grid-template-columns: repeat(1,max-content);
        padding-top: 20px;
        row-gap: 10px;
        height: 100px;
        justify-items: center;
    }
    .headContacts{
        display: none;
    }

    /* основаная секция */
    section{
        row-gap: 20px;
        justify-content: center;
        justify-items: center;
    }
    .logoDiv{
        height: 300px;
        grid-template-columns: repeat(1,max-content);
        row-gap: 10px;
    }
    .carImg{
        width: 350px;
    }
    /* слайдер */
    .slideDiv{
        width: 350px;
        column-gap: 0px;
    }
    .slideDiv p{
        width: 350px;
        font-size: 13px;
    }
    .slideDiv img{
        display: none;
    }

    /* акции */
    .stocksMain{
        width: 350px;
    }
    .stocks{
        display: grid;
        grid-template-columns: repeat(1, 350px);
        row-gap: 35px;
    }

    /* отзывы */
    .reviewsMain{
        width: 350px;
    }
    .reviews{
        grid-template-columns: repeat(1, 350px);
        row-gap: 20px;
    }
    .formReview{
        grid-template-columns: repeat(1, 350px);
        row-gap: 10px;
    }
    .formReview textarea{
        width: 350px;
        height: 60px;
    }
    .formReview input{
        width: 350px;
        height: 40px;
    }

    /* контактная информация */
    .contactsInfo{
        margin-top: 60px;
        width: 350px;
        font-size: 12px;
        text-align: left;
    }
    .contactsInfo h3{
        font-size: 16px;
    }
    .contactsInfo div{
        display: grid;
    }

    /* подвал */
    footer{
        grid-template-columns: repeat(1, 350px);
    }
    .foot{
        grid-template-columns: repeat(1, 350px);
        row-gap: 40px;
    }

    /* услуги */
    .servicesCard{
        grid-template-columns: repeat(1, 310px);
        width: 350px;
    }
    .servicesCard h4{
        font-size: 14px;
    }
    .servicesCard img{
        display: none;
    }
    .servicesCardInfo {
        width: 310px;
    }
    .servicesCardContent{
        grid-template-columns: repeat(1, 310px);
    }
    .servicesCardInfo p{
        height: fit-content;
        padding-bottom: 20px;
    }
    .servicesBtn{
        width: 310px;
    }
    .formZapis input{
        width: 342.8px;
    }
}